
body {
    margin: 0;
    font-family: Andale Mono, monospace;
    font-size: 14px;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 120vh;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Container */

.container {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
}


/* Header */

.header {
    padding: 22px 0;
    background-color: black;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Nav */

.nav {
    display: flex;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    text-decoration: none;
    opacity: 0.75;
    font-size: 16px;

    transition: opacity 0.1s linear;
}

.nav__link:hover {
    color: white;
    opacity: 1;
}


/* Intro */

.intro {
    margin-top: 60px;
}

.intro__inner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

/* Gallery */

.gallery {
    margin-top: 160px;
}

.gallery__inner {
    padding: 10px;
    margin: 0 70px;
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 5px dotted rgb(0, 0, 0);
}


/* Goods */

.goods {
    margin: 100px 0;
}

.goods__inner {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.goods__item {
    margin-left: 20px;
    margin-right: 20px;
    width: 30%;
    border: 3px solid rgb(255, 255, 255);
    transition: border-color 0.15s linear;
    margin-bottom: 40px;
}

/*
.goods__item:hover {
    border: 3px solid rgb(0, 0, 0);
}
*/

.goods__photo {
    height: 300px;
}

.goods__name {
    font-size: 18px;
}

.goods__price {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}


/* увеличение картинки */
.scale {
    display: inline-block;
    overflow: hidden;
}
.scale img {
    transition: 0.5s;
    display: block;
}
.scale img:hover {
    transform: scale(1.1); 
}
/*-----------------------*/


/* Product */

.product{
    margin-top: 60px;
}

.product__inner {
    display: flex;
    justify-content: space-between;
}


.product__photo_vampire_t {
    padding: 50px;
    height: 635px;
    margin-right: 20px;
    width: 50%;
    border: 3px dashed rgb(0, 0, 0);
    background: url(../img/vampire_front.png);
    background-size: cover;
    transition: 0.18s;
}

.product__photo_vampire_t:hover {
    background: url(../img/vampire_back.png);
    background-size: cover;
}

.product__photo_demons {
    padding: 50px;
    height: 635px;
    margin-right: 20px;
    width: 50%;
    border: 3px dashed rgb(0, 0, 0);
    background: url(../img/demons_front.png);
    background-size: cover;
    transition: 0.18s;
}

.product__photo_demons:hover {
    background: url(../img/demons_back.png);
    background-size: cover;
}

.product__photo_vampire_shorts {
    padding: 50px;
    height: 635px;
    margin-right: 20px;
    width: 50%;
    border: 3px dashed rgb(0, 0, 0);
    background: url(../img/vampire_shorts_front.png);
    background-size: cover;
    transition: 0.18s;
}

.product__photo_vampire_shorts:hover {
    background: url(../img/vampire_shorts_back.png);
    background-size: cover;
}

.product__info {
    width: 40%;
}

.product__name {
    font-size: 30px;
    font-weight: 700;
}

.product__price {
    margin-top: 10px;
    font-size: 26px;

}

.product__description {
    margin-top: 40px;
}

.buy__button {
    margin-top: 50px;
    width: 25%;
}


/* Information */

.information{
    margin-top: 60px;
}

.information__inner {
    display: flex;
    justify-content: space-between;
}


.contacts {  
    width: 50%;
    height: 635px;
    margin-right: 20px;
    font-size: 40px;
    font-weight: 700;
}


.info__links {
    margin-top: 50px;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    margin-bottom: 70px;
}

.info__links__item {
    flex-direction: column;
    display: flex;
    height: 100px;
    width: 30%;
}

.info__links__item img {
    height: 80%; 
    width: 30%;
    margin-bottom: 20px;
}

.info__links__item a {
    height: 100px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.75;

    transition: opacity 0.1s linear
}

.info__links__item a:hover {
    color: black;
    opacity: 1;
}

.map {
    border: 3px solid black;
}


.about__us {

    width: 50%;
    margin-left: 20px;
}


/* Footer */

.footer {
    text-align: center;
    margin-top: auto;
    padding: 0;
    background-color: black;
}

.footer__inner {
    margin: 0 auto;
    text-align: center;
    width: 30%;
    color: rgb(95, 95, 95);
}

/**/
/* homework */
        

